/* *{
    background-color: black;
    color:white 
} */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background-color: #f0f4f9;
    color: #333;
    line-height: 1.6;
}

code {
    background: #f4f4f4;
    padding: 2px 4px;
    border-radius: 4px;
}

h2 {
    color: #007BFF;
    padding: 10px;

}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section hr {
    margin: 20px 0;
}

.example {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    background: #f9f9f9;
}